@layout LoginLayout
@inherits LayoutComponentBase

<center>
    <div class="col-8 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">
            <div class="col-6" style="border-right:groove">
                <img src="https://image.freepik.com/free-vector/vintage-monochrome-beer-pub-logo_225004-1221.jpg" width="400" height="400" />
            </div>
            <div class="col-6" style="border-left:thick">
                @Body
            </div>
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>

@*<a href="https://www.freepik.com/free-photos-vectors/ribbon">Ribbon vector created by dgim-studio - www.freepik.com</a>*@